---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="nice quote">
  <div>
    <h2>Submission queued for review.</h2>
    <p
      >Keep in mind a submission is not a guarantee of being published on the
      site.</p
    >
  </div>
</MainLayout>
