---
const d = new Date();
const year = d.getFullYear();
---

<hr class="border-4 dark:border-neutral-200 border-neutral-700 my-1" />
<div class="flex items-center justify-between">
  <p class="m-0">{year}</p>
  <p class="m-0"><a href="https://github.com/zvxvx/qdb">qdb</a></p>
  <a href="/rss.xml" target="_blank">rss</a>
</div>
